<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.computerxpert.worktime">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name=".Common.Common"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher__round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.Worktimes"
            android:label="@string/title_activity_dashbrd"
            android:parentActivityName=".Activities.MainActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.Setup"
            android:label="@string/title_activity_setup"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.CompaniesMan"
            android:label="@string/title_activity_stp_comp"
            android:parentActivityName=".Activities.Setup"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.WageMan"
            android:label="@string/title_activity_stp_wages"
            android:parentActivityName=".Activities.Setup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.Setup" />
        </activity>
        <activity
            android:name=".Activities.DeveloperSection"
            android:label="@string/title_activity_developer_section" />
        <activity
            android:name=".Activities.CompaniesManMod"
            android:label="@string/title_activity_companies_man_mod"
            android:parentActivityName=".Activities.CompaniesMan"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.CompaniesMan" />
        </activity>
        <activity
            android:name=".Activities.WageManMod"
            android:label="@string/title_activity_wage_man_mod"
            android:parentActivityName=".Activities.WageMan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.WageMan" />
        </activity>
        <activity
            android:name=".Activities.QuerysResults"
            android:label="@string/title_activity_my"
            android:parentActivityName=".Activities.Querys">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.QuerysResults" />
        </activity>
        <activity
            android:name=".Activities.Querys"
            android:label="@string/title_activity_querys" />
        <activity
            android:name=".Activities.AgenciesMan"
            android:label="@string/title_activity_agencies_man"
            android:parentActivityName=".Activities.Setup" />
        <activity
            android:name=".Activities.AgenciesManMod"
            android:label="@string/title_activity_agencies_man_mod"
            android:parentActivityName=".Activities.AgenciesMan"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".Activities.DefShiftsMan"
            android:label="@string/title_activity_def_shifts_man"
            android:parentActivityName=".Activities.Setup"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.Setup" />
        </activity>
        <activity
            android:name=".Activities.DefShiftsManMod"
            android:label="@string/title_activity_def_shifts_man_mod"
            android:parentActivityName=".Activities.DefShiftsMan"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.DefShiftsMan" />
        </activity>
        <activity android:name=".Activities.FirstRunLoadDefaults" />
        <activity android:name=".Activities.SavePayslips" />
        <activity
            android:name=".Activities.ViewableFields"
            android:label="@string/title_activity_viewable_fields"
            android:parentActivityName=".Activities.Querys">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.Querys" />
        </activity>
        <activity
            android:name=".Activities.DeleteWrongDays"
            android:label="@string/title_activity_delete_wrong_days"
            android:parentActivityName=".Activities.Setup">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.computerxpert.worktime.Activities.Setup" />
        </activity>
        <activity
            android:name=".Activities.ViewLogo"
            android:label="@string/title_activity_view_logo"></activity>
    </application>

</manifest>